services:
  ip-city-service:
    build:
      context: .
      dockerfile: ./Dockerfile
    tty: true
    entrypoint: ["sh","startdb.sh"]
    ports:
    - "8000:8000"
    restart: always
    volumes:
      - .:/var/www/html/get-city-by-ip
      - db:/var/lib/mysql
volumes:
  db: