{% extends 'base.html.twig' %}

{% block title %}City IP
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}

		form {
			display: grid;
			gap: 8px;
		}

		body {
			display: grid;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100vh;
		}
	</style>

	<div class="container">
		<h1>City IP</h1>
		<p>Введите IP-адрес</p>
		<form id="ip-form" autocomplete="off">
			<input type="text" name="ip" label="Type in IP address"/>
			<input type="button" id="generate-random" value="Случайный IP"/>
			<input type="submit" / value="Узнать город">
		</form>
	</div>
{% endblock %}
